/* In your globals.css */
@font-face {
  font-family: 'bootstrap-icons';
  src: url('/fonts/bootstrap-icons.woff2') format('woff2');
  font-display: swap;
  font-weight: normal;
  font-style: normal;
}